@media only screen and (max-width: 376px) {
    .container {
        width: 327px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: space-around;
        margin-top: 88px;
        margin-bottom: 88px;
}

    /*option 1*/
    /*.picture {*/
    /*    width: 327px;*/
    /*    height: 240px;*/
    /*    background-image: url("./images/image-header-mobile.jpg");*/
    /*    background-blend-mode: multiply;*/
    /*    border-top-right-radius: 8px;*/
    /*    border-top-left-radius: 8px;*/
    /*}*/

    /*option 2*/
    .picture {
        width: 327px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: unset;
        border-top-right-radius: 8px;
        border-bottom-right-radius: unset;
     }

    img {
        height: 240px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: unset;
        border-top-right-radius: 8px;
        border-bottom-right-radius: unset;
        mix-blend-mode: luminosity;
    }

    .text {
        padding: 40px 31px 32px 31px;
    }

    .text--main {
        width: 264px;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 16px;
        text-align: center;
    }

    .text--sub {
        width: 264px;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
        text-align: center;
    }

    .info {
        flex-direction: column;
        align-items: center;

    }

    .info__block {
        align-items: center;
        margin: 0 32px 32px 32px;
    }

    .info__block--txt {
        letter-spacing: 1px;
    }

}


